:root {
    --desat-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-red: hsl(0, 6%, 24%);
}

* {
    font-family: "Josefin Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.desktop-hero {
    display: none;
}

.main-div {
    width: 375px;
    margin: 0 auto;

}

.logo {
    padding: 15px 0;
}

.logo img {
    transform: scale(0.65, 0.65);
}

.content {
    text-align: center;
    padding: 0px 35px;
    font-weight: 300;
}

.content h3 {
    font-size: 40px;
    line-height: 1;
    padding: 0 40px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

span {
    color: var(--desat-red);
    font-weight: 300;
}

.description {
    margin-top: -20px;
    font-size: 14px;
    line-height: 1.3;
    color: var(--desat-red);
}

#email-field {
    margin-top: 15px;
    border: 0.75px solid hsl(0, 36%, 70%);
    padding: 10px 100px 10px 20px;
    border-radius: 20px;
    color:hsl(0, 36%, 70%);
}

.email-btn {
    padding: 8px 21.5px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 2.5px 5px hsl(0,36%,70%);
    position: relative;
    top: -38.5px;
    left: 135px;
}

.email-btn:hover {
    background-image: linear-gradient(135deg,hsl(0, 100%, 98%), hsl(0, 80%, 86%));
    box-shadow: 0 5.5px 5px hsl(0,26%,76%);
}

.error-img {
    height: 22.5px;
    width: 22.5px;
    position: relative;
    top: -35px;
    left: 38px;
    display: none;
}

.error-info {
    font-size: 12px;
    color: var(--desat-red);
    margin-top: -32px;
    margin-left: -100px;
    display: none;
}

.attribution {
    font-size: 12px;
    text-align: center;
    color: var(--dark-red);
    padding-top: 40px;
    font-weight: 600;
}

.attribution a {
    color: var(--soft-red);
    font-weight: 300;
}

@media only screen and (min-width: 1000px) {
    body {
        background-image: url(./images/bg-pattern-desktop.svg);
    }

    .mobile-hero {
        display: none;
    }

    .main-div {
        margin: 0;
        padding-left: 10%;
        padding-top: 5%;
        display: inline-block;
        }

    .desktop-hero {
        display: block;
    }

    .logo {
        transform: scale(1.45, 1.45);
        padding-left: 60px;
    }

    .content {
        text-align: left;
        padding-top: 5%;
    }

    .content h3 {
        padding-left: 0;
        font-size: 64px;
    }

    .content p {
        line-height: 1.6;
        width: 385px;
        font-size: 15px;
    }


}