:root {
    --desat-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-red: hsl(0, 6%, 24%);
}

* {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 4em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    vertical-align: middle;
    padding-left: 1.6em;
    white-space: pre-line;
}

form {
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    border: 2px solid hsl(0, 36%, 70%);
    padding: 2px;
    height: 40px;
}

.circle {
    border: 2px solid hsl(0, 36%, 70%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    right: 58px;
    height: 22px;
    font-weight: 700;
    color: var(--dark-red);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;
    flex: 1;
    padding-left: 0.6em;
}

img {
    width: 100%;
    border: 0;
    padding-bottom: 4.5em;
    font-weight: lighter;
}

.coming-soon {
    text-align: center;
    font-size: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--dark-red);
}

h2.pink {
    color: var(--desat-red);
} 

#desc {
    text-align: center;
    color: var(--desat-red);
    font-size: 15px;
    padding: 2em 5em 2em 3em;
}

#form {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    height: 3em;
    color: var(--soft-red);
}

#form input,
#form button {
    border-radius: 75%;
    border: 1px solid grey;
    padding: 2px;
}

#form input {
    border: none;
    flex-grow: 2;
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 2em;
}

#form button {
    background-image: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    color: var(--desat-red);
    border-radius: 20px;
    width: 70px;
    border: 0;
}

button img {
    height: 25px;
    width: auto;
    padding-top: .54em;
}

.attribution {
    padding-top: 2em;
}

@media screen and (min-width: 690px) {

}

@media screen and (min-width: 990px) {
   
}